/* General Body Style */
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #1F1F1F;
    color: #E8E8E8;
}

/* Navigation Bar */
nav {
    width: 100%;
    background-color: #2C2C2C;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    position: fixed;
    top: 0;
    z-index: 1000;
    box-sizing: border-box;
}

.logo h2 {
    color: #00ADB5;
    font-size: 24px;
    margin: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #E8E8E8;
    font-size: 16px;
    transition: color 0.3s ease-in-out;
}

.nav-links a:hover {
    color: #00ADB5;
}

/* Main Container Styling */
.container {
    display: flex;
    align-items: center;
    height: 100vh;
    padding-top: 80px; /* To adjust for the navbar height */
}

.content {
    color: #E8E8E8;
    padding: 20px;
    max-width: 50%;
}

.content h1 {
    font-size: 48px;
    margin-bottom: 20px;
    color: #E8E8E8;
}

.content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 20px;
}

.highlight {
    color: #00ADB5;
}

.contact-btn {
    padding: 10px 20px;
    border: 2px solid #00ADB5;
    color: #00ADB5;
    background-color: transparent;
    text-transform: uppercase;
    cursor: pointer;
}

/* Background Image */
.background-image {
    position: absolute;
    top: 0;
    left: 66%;
    width: 34%;
    height: 100%;
    background-image: url('assets/My_Image.jpg');
    background-size: cover;
    background-position: center;
}

/* Footer Styling */
footer {
    text-align: center;
    padding: 20px;
    background-color: #393E46;
    color: #E8E8E8;
    border-top: 1px solid #E8E8E8;
}

footer img {
    width: 35px;
    height: 35px;
    margin: 0 10px;
}

/* Additional Elements Styling */
h1, h2, h3 {
    color: #E8E8E8;
    text-align: center;
}

a {
    color: #00ADB5;
    text-decoration: none;
    transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
}

a:hover {
    color: #7AFF66;
    border-bottom: 2px solid #7AFF66;
}

header, footer {
    text-align: center;
    padding: 20px 0;
}

footer {
    font-size: 0.8em;
    color: #999;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background: #2C2C2C;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

hr {
    margin-bottom: 20px;
    border: none;
    border-bottom: 2px solid #00ADB5;
}

ol {
    padding-left: 20px;
    line-height: 1.6;
    color: #E8E8E8;
}

h2, h3 {
    margin-top: 40px;
}

ol ol {
    padding-left: 30px;
}
